__pycache__/
behavior_clone_logs/
runs/
checkpoints/
logs/
jobs/
recordings/
dataset_vis/
encoder/
vis/
rl_runs/
wandb/
*_logs/
prediction_visualizations/
*.swp
*.out
*.zip
TODO_list.txt
notes.txt
error.txt
*.pt
